@import "pico.css";

.bi {
  display: inline-block;
  vertical-align: -0.125rem;
  fill: currentcolor;
  width: 1rem;
  height: 1rem;
}

.avatar {
  border-radius: 50%;
}

body > header {
  nav {
    ul:has(form) {
      flex-grow: 0.5;
      li {
        width: 100%;
      }
    }
  }
  .bi {
    width: 1.5rem;
    height: 1.5rem;
  }
  .brand {
    img {
      max-width: unset;
      height: 2rem;
      width: 2rem;
      vertical-align: sub;
    }
    strong {
      font-size: 2rem;
      display: none;
    }
  }
}
@media (min-width: 768px) {
  body > header {
    .bi {
      width: 1.25rem;
      height: 1.25rem;
    }
    .brand {
      img {
        margin-right: 0.25rem;
      }
      strong {
        display: inline;
      }
    }
  }
}

#search-result div {
  --article: calc(100vh - var(--pico-spacing) * 2);
  max-height: calc(var(--article) * 0.8);
  overflow-y: auto;
}

.profile {
  & > :first-child {
    justify-self: center;
    align-self: center;
  }
  & > :last-child {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
  }
}

.home, .tag {
  margin: auto;
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr;
  & > h1, h2, h3, h4, h5, h6 {
    grid-column: 1/-1;
  }
  & > div {
    display: flex;
    justify-content: center;
  }
}
@media (min-width: 768px) {
  .home, .tag {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1024px) {
  .home, .tag {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1280px) {
  .home, .tag {
    grid-template-columns: repeat(4, 1fr);
  }
}

.post {
  max-width: 720px;
  margin: auto;
  display: grid;
  gap: 3rem;
  > div:has(video) {
    cursor: pointer;
    display: grid;
    grid-template: 1fr / 1fr;
    place-content: center;
    > * {
      grid-area: 1 / 1;
    }
  }

  video {
    width: 100%;
    height: auto;
    border-radius: var(--pico-border-radius);
    & + button {
      background-color: rgb(from var(--pico-contrast-inverse) r g b / 50%);
      opacity: 1;
      transition: opacity 0.2s;
    }
    &.playing + button {
      opacity: 0;
      pointer-events: none;
    }
    & + button > .bi {
      height: 4rem;
      width: 4rem;
    }
  }
}
@media (min-width: 1280px) {
  .post {
    max-width: 1080px;
    grid-template-columns: 2fr 1fr;
  }
}

.map #map {
  width: 100%;
  min-height: 50svh;
}

details.dropdown.theme-switcher {
  .bi {
    width: 1rem;
    height: 1rem;
  }
  .bi[data-scheme-if] {
    display: none;
  }
  summary {
    width: calc(2.5rem + var(--pico-nav-link-spacing-horizontal) * 2);
  }
  li {
    border-bottom: none;
  }
}
html:not([data-theme]) details.dropdown.theme-switcher {
  .bi[data-scheme-if="auto"] {
    display: inline-block;
  }
  a[data-theme-switcher="auto"] {
    background-color: var(--pico-primary);
    color: var(--pico-primary-inverse);
  }
}
html[data-theme="light"] details.dropdown.theme-switcher {
  .bi[data-scheme-if="light"] {
    display: inline-block;
  }
  a[data-theme-switcher="light"] {
    background-color: var(--pico-primary);
    color: var(--pico-primary-inverse);
  }
}
html[data-theme="dark"] details.dropdown.theme-switcher {
  .bi[data-scheme-if="dark"] {
    display: inline-block;
  }
  a[data-theme-switcher="dark"] {
    background-color: var(--pico-primary);
    color: var(--pico-primary-inverse);
  }
}

@view-transition {
  navigation: auto;
}

@keyframes in {
  from {
    transform: scaleX(0);
    opacity: 0;
  }
  to {
    transform: scaleX(1);
    opacity: 1;
  }
}

@keyframes out {
  from {
    transform: scaleX(1);
    opacity: 1;
  }
  to {
    transform: scaleX(0);
    opacity: 0;
  }
}

#main-content {
  view-transition-name: main-content;
}

::view-transition-group(main-content) {
  height: auto;
  right: auto;
  left: auto;
  transform-origin: center;
}

::view-transition-old(main-content) {
  animation: 0.1s 0.15s ease-in both out;
}

::view-transition-new(main-content) {
  animation: 0.25s 0.15s ease-out both in;
}

::view-transition-group(root) {
  animation: 0.1s ease both;
}
