.bi {
  display: inline-block;
  vertical-align: -.125rem;
  fill: currentcolor;
  width: 1rem;
  height: 1rem;
}

header .bi {
  width: 2.5rem;
  height: 2.5rem;
}

.avatar {
  vertical-align: middle;
  border-radius: 50%;
}

.brand {
  margin-right: 1rem;
  height: 2.5rem;
  width: 2.5rem;
}

.profile {
  & > :first-child {
    justify-self: center;
  }
  & > :last-child {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
  }
}

.home,.tag {
  margin: auto;
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr;
  & > h1, h2, h3, h4, h5, h6 {
    grid-column: 1/-1;
  }
  & > div {
    display: flex;
    justify-content: center;
  }
}
@media (min-width: 768px) {
  .home,.tag {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1024px) {
  .home,.tag {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1280px) {
  .home,.tag {
    grid-template-columns: repeat(4, 1fr);
  }
}

.post {
  max-width: 720px;
  margin: auto;
  display: grid;
  gap: 3rem;
  & video {
    width: 100%;
  }
}
@media (min-width: 1280px) {
  .post {
    max-width: 1080px;
    grid-template-columns: 2fr 1fr;
    & nav {
      grid-column: 1/-1;
    }
  };
}

.map #map {
  width: 100%;
  min-height: 50svh;
}