
{{ set caption = title.slice(0, 40) }}
<div>
  <a href="{{url}}" data-tooltip="{{caption}}&hellip;" aria-label="{{caption}}">
    <img
      src="{{image}}"
      alt="{{caption}}"
      width="400"
      height="710"
      transform-images="avif webp jpg 400"
      loading="lazy"
      style="view-transition-name: thumb-{{shortcode}};"
    />
  </a>
</div>