<html lang="id">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="color-scheme" content="light dark" />
    <title>{{title}} | NexInox</title>
    <link rel="preload" as="style" href="/style.css" />
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <header>
      <div class="container">
        <nav>
          <ul>
            <li>
              <a href="/" class="brand" data-tooltip="Beranda" data-placement="bottom">
                <img
                  class="avatar"
                  src="/images/profile_pic.jpg"
                  transform-images="avif webp jpg 80@2"
                  alt="NexInox's Icon"
                  width="80"
                  height="80"
                />
                <strong>NexInox</strong>
              </a>
            </li>
          </ul>
          <ul>
            <li>
              <form id="search-form">
                <input
                  type="search"
                  name="search"
                  placeholder="Cari..."
                  aria-label="Cari"
                />
              </form>
            </li>
          </ul>
          <ul>
            <li>
              <a href="/peta/" aria-label="Peta Kuliner" data-tooltip="Peta Kuliner" data-placement="bottom">
                <img src="{{ "map" |> icon("bootstrap") }}" alt="map" inline />
              </a>
            </li>
            <li>
              <a href="https://instagram.com/nex_inox" target="_blank" rel="noreferrer noopener" aria-label="Instagram" data-tooltip="Instagram" data-placement="bottom">
                <img src="{{ "instagram" |> icon("bootstrap") }}" alt="instagram" inline />
              </a>
            </li>
            <li>
              <details class="dropdown theme-switcher">
                <summary role="button" class="outline">
                  <img data-scheme-if="auto" src="{{ "circle-half" |> icon("bootstrap") }}" alt="circle-half" inline/>
                  <img data-scheme-if="light" src="{{ "sun-fill" |> icon("bootstrap") }}" alt="sun-fill" inline/>
                  <img data-scheme-if="dark" src="{{ "moon-stars" |> icon("bootstrap") }}" alt="moon-stars" inline/>
                </summary>
                <ul>
                  <li data-tooltip="Auto" data-placement="left">
                    <a href="#" data-theme-switcher="auto">
                      <img src="{{ "circle-half" |> icon("bootstrap") }}" alt="circle-half" inline/>
                    </a>
                  </li>
                  <li data-tooltip="Light" data-placement="left">
                    <a href="#" data-theme-switcher="light">
                      <img src="{{ "sun-fill" |> icon("bootstrap") }}" alt="sun-fill" inline/>
                    </a>
                  </li>
                  <li data-tooltip="Dark" data-placement="left">
                    <a href="#" data-theme-switcher="dark">
                      <img src="{{ "moon-stars" |> icon("bootstrap") }}" alt="moon-stars" inline/>
                    </a>
                  </li>
                </ul>
              </details>
            </li>
          </ul>
        </nav>
      </div>
      <hr />
    </header>
    <main class="container">
      {{ content }}
    </main>
    <footer>
      <hr />
      <div class="container">
        <nav>
          <ul>
            <li>
              <small>Hak cipta NexInox &copy; {{ year }}</small>
            </li>
          </ul>
        </nav>
      </div>
    </footer>
    <dialog id="search-result">
      <article>
        <header>
          <button aria-label="Close" rel="prev"></button>
          <h3>Hasil Pencarian</h3>
        </header>
        <div aria-busy="true">
        </div>
      </article>
    </dialog>
    <dialog id="share-modal">
      <article>
        <header>
          <button aria-label="Close" rel="prev"></button>
          <h3>Bagikan laman ini</h3>
        </header>
        <div class="grid">
          <a
            href="https://www.facebook.com/sharer/sharer.php?u={{ url |> url(true) |> encodeURIComponent }}&t={{ title |> encodeURIComponent }}"
            role="button"
            class="outline"
            target="_blank"
            rel="noreferrer noopener"
          >
            <img src="{{ "facebook" |> icon("bootstrap") }}" alt="facebook" inline>
            <span>Facebook</span>
          </a>
          <a
            href="https://twitter.com/intent/tweet?url={{ url |> url(true) |> encodeURIComponent }}&text={{ title |> encodeURIComponent }}"
            role="button"
            class="outline"
            target="_blank"
            rel="noreferrer noopener"
          >
            <img src="{{ "twitter" |> icon("bootstrap") }}" alt="twitter-x" inline>
            <span>Twitter / X</span>
          </a>
          <a
            href="https://api.whatsapp.com/send?text={{ title |> encodeURIComponent }}%20{{url |> url(true) |> encodeURIComponent}}"
            role="button"
            class="outline"
            target="_blank"
            rel="noreferrer noopener"
          >
            <img src="{{ "whatsapp" |> icon("bootstrap") }}" alt="whatsapp" inline>
            <span>WhatsApp</span>
          </a>
        </div>
        <hr />
        <div class="grid">
            <button class="outline share-button">
              <img src="{{ "share" |> icon("bootstrap") }}" alt="share" inline>
              <span><em>Web Share</em></span>
            </button>
            <button class="outline copy-url-button">
              <img src="{{ "copy" |> icon("bootstrap") }}" alt="copy" inline>
              <span>Salin <em>URL</em></span>
            </button>
        </div>
      </article>
    </dialog>
    <script type="module" src="/script.js"></script>
  </body>
</html>